@use 'sass:color';
@use '../variables' as *;

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: color.adjust($primary-color, $lightness: -10%);
    }
}

.login-form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        margin-bottom: 1.5rem;
        color: $primary-color;
    }

    button {
        background-color: $primary-color;
        color: white;

        &:hover {
            // background-color: color.adjust($primary-color, 10%);
        }
    }
}