@use 'sass:color';
@use '../variables' as *;

.tracks-wrapper {
    margin-top: 20px;
    background-color: white;

    .tracks-container {
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .tracks-item {
            background-color: blueviolet;
            flex-basis: calc(50% - 5px);
            box-sizing: border-box;
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .detail-wrapper {
                .track-title {

                    h2 {
                        margin: 0;
                        font-size: 26px;
                    }

                    p {
                        margin: 0;
                        font-size: 12px;
                        font-style: italic;
                    }
                }

                .track-features {
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
                    gap: 10px;

                    .item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .icon {
                            width: 60px;
                            height: 60px;
                            border: 1px solid white;
                        }

                        .text {
                            font-size: 12px;
                            margin: 2px;
                            text-align: center;
                        }
                    }
                }

                .track-best-driver {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 20px;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;

                    .longest-streak {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 90px;
                        height: 90px;
                        border: 1px solid white;
                        border-radius: 10px;

                        p {
                            text-align: center;
                            margin: 2px;
                        }

                        .number {
                            font-size: 24px;
                            font-weight: 900
                        }

                        .month {
                            font-size: 14px;
                        }
                    }

                    .best-driver {
                        padding: 10px 0px;

                        .icon {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: white;
                        }

                        p {
                            margin: 10px 0px 5px;
                            font-size: 12px;
                        }

                        h3 {
                            margin: 0;
                        }
                    }
                }

                .track-lap-record {
                    display: flex;
                    align-items: center;
                    padding: 10px 0px;
                    gap: 20px;


                    .time-record {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .icon {
                            width: 40px;
                            height: 40px;
                            border-radius: 20px;
                            border: 1px dotted white;
                        }

                        .time-con {
                            p {
                                margin: 0;
                                font-size: 12px;
                            }

                            h3 {
                                margin: 0;
                            }
                        }
                    }

                    .driver-name-con {
                        p {
                            margin: 0;
                            font-size: 12px;
                        }

                        h3 {
                            margin: 0;
                        }
                    }
                }
            }

            .track-layout {
                img {
                    width: 350px;
                }
            }
        }
    }
}