// resources/scss/_global.scss
@use 'variables' as *;
@use 'sass:color';
@use 'variables' as *;

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: color.adjust($primary-color, $lightness: -10%);
    }
}

body {
    font-family: $font-family;
    background-color: black;
    margin: 0;
    padding: 0;

}

main {
    background-color: black;
    margin: 2vw 6vw;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: color.adjust($primary-color, $lightness: -10%);
    }
}

h1 {
    color: white;
}